<div class="overlay-notice-container" id="notice-container">
  <table cellspacing=0 cellpadding=0> <tbody>
    <tr> <td>
      <div id="notice">
      </div>
    </td> </tr>
  </tbody> </table>
</div>
<script type="text/javascript">
    var text = Cookie.get("notice");
    if (text) {
      notice(text, true);
      Cookie.remove("notice");
    }
</script>

